# ~/.GH/Qompass/JS/.gitignore
# ---------------------------
# Copyright (C) 2025 Qompass AI, All rights reserved
/Astro/
/Deno/
/MaterialUI/
/NuxtJS/
/React/
/Svelte/
/ThreeJS/
/TypeScript/
/Vite/
/Vue/
